body{
    margin: 0 auto;
    padding: 0;
}

.page-wrapper{
    margin-top: 0px;
    background-color: #fff ;
    width: 100%; 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	overflow: hidden;
}

.aligner2{
	margin-top: 0px;
    /* text-align: center; */
    width: 50%;

	margin: 0 30px 30px 0;
	margin-left: 25px;
}

.aligner{
    margin-top: 0px;
    text-align: center;
    width: 50%;
    margin: 0 auto 30px auto;
}

.aligner3{
	margin-top: 0px;
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
}

.radio {
	margin: 16px 0;
	display: block;
	cursor: pointer;
}

.radio input {
	display: none;
}

.radio input + span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
}

.radio input + span:not(:empty) {
	padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}

.radio input + span:before {
	background: #D1D7E3;
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
	background: #fff;
	transform: scale(0.78);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
	transform: scale(1.04);
	background: #38cc70;
}

.radio input:checked + span:after {
	transform: scale(0.4);
	transition: transform .3s ease;
}

.radio:hover input + span:before {
	transform: scale(0.92);
}

.radio:hover input + span:after {
	transform: scale(0.74);
}

.radio:hover input:checked + span:after {
	transform: scale(0.4);
}

button {
	position: relative;
	display: inline-block;
	background: none;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #eee;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}

button span {
	position: relative;
	z-index: 1;
	display: block;
	min-width: 120px;
	padding: 1em;
	border-radius: 2em;
	background-color:  #38cc70;
	border: 1px solid  #38cc70;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform .1s, box-shadow .2s, background-color .2s;
}

button::after {
	content: '';
	position: absolute;
	top: -1em;
	bottom: -1em;
	left: -1em;
	right: -1em;
	border-radius: 4em;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow .1s;
}

button:hover span, button:focus span {
	background-color:  #38cc70;
}

button:active span {
	background-color:  #38cc70;
	transform: scale(0.97);
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:active::after {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset -3px 3px 1em rgba(0, 0, 0, 0.2);
}

.wrap {
	width: 100%;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 50px;
}

.wrap button {
	margin: 1em;
}

.border{
	padding: 30px 0;
	border: 2px dotted grey;
	border-radius: 2%;
	width: 25%;
	margin: 0 auto;
	margin-bottom: 30px;
}

	.border{
		padding: 20px 0;
		border: 2px dotted grey;
		border-radius: 2%;
		width: 25%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	.com_field{
		width: 80%;
		text-align: center;
		float: right;
	}
	#side-bar{
		display: none;
		width: 19%;
		float: left;
		overflow: hidden;
		border-right: 2px dotted grey;
		border-bottom: 2px dotted grey;
	}


@media only screen and (max-width : 1224px) {
	.border{
		padding: 20px 0;
		border: 2px dotted grey;
		border-radius: 2%;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 2em 0 2em 0;
		width: 80%;
	  }

	  #side-bar{
		display: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		border-bottom: 2px dotted grey;
	}

	.com_field{
		width: 100%;
		text-align: center;
		float: right;
		overflow: hidden;
	}

	.fomer{
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}

	.aligner2{
		text-align: center;
		margin-left: 25%;
	}
}

@media only screen and (max-width : 768px) {
	.border{
		padding: 20px 0;
		border: 2px dotted grey;
		border-radius: 2%;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}
 


.last{
	margin-bottom: 0;
}

.title-wrapp{
	padding-top: 25px;
	color: #444;
}



.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 0.2em 2em 0.2em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #30bb64;
}

.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
  cursor: pointer;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 150em;
  transition: max-height 1s;
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal linear both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate linear both 1;
}
