body{
    margin: auto;
    padding: 0;
}

.page-wrapper{
    margin-top: 0px;
    background-color: #e3f2fd ;
    width: 100%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .aligner{
    margin-top: 0px;
    text-align: center;
    width: 50%;
    text-align: center;
    margin: 0 auto 30px auto;
} */

#side-bar{
    display: none;
}


header{
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #2979ff;
}
header > h1{
    font-size: 20pt;
    color: #fff;
    text-align: center;
    margin: 0;
}


.radio {
	margin: 16px 0;
	display: block;
	cursor: pointer;
}

.radio input {
	display: none;
}

.radio input + span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
}

.radio input + span:not(:empty) {
	padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}

.radio input + span:before {
	background: #D1D7E3;
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
	background: #fff;
	transform: scale(0.78);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
	transform: scale(1.04);
	background: #5D9BFB;
}

.radio input:checked + span:after {
	transform: scale(0.4);
	transition: transform .3s ease;
}

.radio:hover input + span:before {
	transform: scale(0.92);
}

.radio:hover input + span:after {
	transform: scale(0.74);
}

.radio:hover input:checked + span:after {
	transform: scale(0.4);
}

button {
	position: relative;
	display: inline-block;
	background: none;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #eee;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}

button span {
	position: relative;
	z-index: 1;
	display: block;
	min-width: 1em;
	padding: 1em;
	border-radius: 2em;
	background-color:  #5D9BFB;
	border: 1px solid  #5D9BFB;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform .1s, box-shadow .2s, background-color .2s;
}

button::after {
	content: '';
	position: absolute;
	top: -1em;
	bottom: -1em;
	left: -1em;
	right: -1em;
	border-radius: 4em;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow .1s;
}

button:hover span, button:focus span {
	background-color:  #5D9BFB;
}

button:active span {
	background-color:  #5D9BFB;
	transform: scale(0.97);
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:active::after {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset -3px 3px 1em rgba(0, 0, 0, 0.2);
}

.wrap {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrap button {
	margin: 1em;
}