html, body  {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;}
body {line-height: 1;}
ol, ul {list-style: none;}

a {
	text-decoration: none;
}

body{
    background-image: url(../image/circles-light.png);
}
/* Стили для главного дива */
.page-wrapper{    
    margin-top: 0px;
    /* background-color: #fff ; */
    width: 100%; 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	overflow: hidden;
}
/* Основной выравниватель */
.aligner{
    margin-top: 0px;
    text-align: center;
    width: 50%;
	margin: 0 auto 30px auto;
}
/* Второсортный выравниватель */
.aligner2{
	margin-top: 0px;
    width: 50%;
	margin: 0 30px 30px 0;
	margin-left: 50px;
}
/* Выравниватель только для кнопки назад*/
.aligner3{
	margin-top: 0px;
    text-align: center;
    width: 50%;
    margin: 0 auto 0 auto;
}
/* Стили для блока разделителя форм */
.border{
	padding: 30px 0;
	border: 2px dotted grey;
	border-radius: 2%;
	width: 25%;
	margin: 0 auto;
	margin-bottom: 30px;
}
/* Основной блок статей */
.com_field{
	width: 80%;
	float: right;
}
/* Микростили для радиокнопок */
.radio {
	margin: 16px 0;
	display: block;
	cursor: pointer;
}

.radio input {
	display: none;
}

.radio input + span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
}

.radio input + span:before, .radio input + span:after {
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}
/* установка анимации для нажатия на радиокнопку */
.radio input + span:before {
	background: #D1D7E3;
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
/* установка анимации для нажатия на радиокнопку */
.radio input + span:after {
	background: #fff;
	transform: scale(0.78);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
/* добавление цветового определения для выбраного варианта */
.radio input:checked + span:before {
	transform: scale(1.04);
	background: #38cc70;
}

.radio input:checked + span:after {
	transform: scale(0.4);
	transition: transform .3s ease;
}

.radio:hover input + span:before {
	transform: scale(0.92);
}

.radio:hover input + span:after {
	transform: scale(0.74);
}

.radio:hover input:checked + span:after {
	transform: scale(0.4);
}
/* стандартные стили для кнопки */
button {
	position: relative;
	display: inline-block;
	background: none;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #eee;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}
/* стили для внутренней части кнопки */
button span {
	position: relative;
	z-index: 1;
	display: block;
	min-width: 120px;
	padding: 1em;
	border-radius: 2em;
	background-color:  #38cc70;
	border: 1px solid  #38cc70;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform .1s, box-shadow .2s, background-color .2s;
}
/* начальные стили для кнопки, до нажатия на неё */
button::after {
	content: '';
	position: absolute;
	top: -1em;
	bottom: -1em;
	left: -1em;
	right: -1em;
	border-radius: 4em;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.2), inset 0 0 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow .1s;
}
/* стили при нажатии на кнопку */
button:active span {
	background-color:  #38cc70;
	transform: scale(0.97);
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:active::after {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), inset -3px 3px 1em rgba(0, 0, 0, 0.2);
}
/* стили для обертки кнопки */
.wrap {
	width: 100%;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 50px;
}

.wrap button {
	margin: 1em;
}
/* стили для сайд бара */
#side-bar{
	display: none;
	width: 19%;
	float: left;
	overflow: hidden;
	border-right: 2px dotted grey;
	border-bottom: 2px dotted grey;
}

@media only screen and (max-width : 2000px) {
    .container1 {
		max-width: 960px;
        padding: 2em 0 2em 0;
	  }

}
/* настройки для экранов с максимальным разрешение 1224 пикселя */
@media only screen and (max-width : 1224px) {
	.border{
		padding: 20px 0;
		border: 2px dotted grey;
		border-radius: 2%;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.container {
		max-width: 960px;
		padding: 2em 0 2em 0;
        width: 100%;
	  }

	  #side-bar{
		display: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		border-bottom: 2px dotted grey;
	}

	.com_field{
		width: 100%;
		text-align: center;
		float: right;
		overflow: hidden;
    }
    
    .com_field1{
		width: 80%;
	}

	.fomer{
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}

	.aligner2{
		text-align: center;
        margin-left: 25%; 
	}
}

h2{
    width: 100%; 
}
/* настройки для экранов с максимальным разрешением 768 */
@media only screen and (max-width : 768px) {
	.border{
		padding: 20px 0;
		border: 2px dotted grey;
		border-radius: 2%;
		width: 75%;
		margin: 0 auto;
		margin-bottom: 30px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0 2em 0;
      }

}

.last{
	margin-bottom: 0;
}

.title-wrapp{
	padding-top: 25px;
	color: #444;
}
/* тут начинаются стили для акордионов */
.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 0.2em 2em 0.2em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.container1 {
    max-width: 960px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
  }
.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #30bb64;
}
/* при наведении на статью, она должна подсвечиваться  */
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
  cursor: pointer;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 150em;
  transition: max-height 1s;
}
/* скрытая статья, присваивается дефолтно, и после воторого нажатия */
.accordionItem.is-collapsed {
  max-height: 0;
}
/* раскрытая статья, подстраивается под размер статьи, получает этот класс после первого нажатия на статью */
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
/* задания параметров анимации открытия */
.animateIn {
  animation: accordionIn 0.45s normal linear both 1;
}
/* задания параметров анимации заткрытия */
.animateOut {
  animation: accordionOut 0.45s alternate linear both 1;
}


nav {
	width: 100%;
	height: 80px;
	background: #222;
}

ul {
	text-align: right;
	margin: 0;
}

ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
}
ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	transition: all .1s ease-out;
}
ul li a:hover {
	color: #eee;
}

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -60px; /* half of width */
	top: -400px;
}
.dropOut {
	width: 200px;
	background: white;
	float: right;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 170px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	border-radius: 4px;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
	background: #f6f6f6;
}

ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }


.label1 {
	width: 24px; /* Ширина рисунка */
	min-height: 24px; /* Высота рисунка */
	display: block; /* Блочный элемент */
	position: relative; /* Относительное позиционирование */
}

.barabash{
	display: none;
}

.barabash + span {
	/* Абсолютное позиционирование */	
	position: absolute;
	width: 100%; height: 100%;
	background: url(../image/like.png) no-repeat; /* Фоновый рисунок */
	cursor: pointer; /* Курсор в виде руки */
}

.barabash:checked + span  	{
	background-position: -24px 0;
}

.page{
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    min-height: 80vh;
    /* background-color: red; */
    font-size: 16pt;
    padding-right: 10%;
    /* text-align: center; */
}

#title_fav{
    margin-top: 75px;
    font-size: 29pt; 
    font-family: 'Lato', sans-serif; 
}

input[type="checkbox"] {
  width: 18px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: -25px;
  vertical-align: -4px;
  outline-width: 0;
  border-radius: 50%;
}
input[type="checkbox"]:focus {
  -webkit-animation: press .8s 1;
          animation: press .8s 1;
}
input[type="checkbox"]:before, input[type="checkbox"]:after {
  content: "";
}
input[type="checkbox"]:after {
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666;
  transition: 240ms;
}
input[type="checkbox"]:disabled:after {
  border-color: #ddd;
  background-color: #eee;
  cursor: not-allowed;
}
input[type="checkbox"]:disabled:checked:after {
  background-color: #eee;
  border-color: #ddd;
}
input[type="checkbox"]:disabled:checked:before {
  border-color: #999;
}

input[type="checkbox"]:after {
  border-radius: 2px;
  background-color: #fff;
  z-index: 999;
}
input[type="checkbox"]:checked:after {
  background-color: #38CC70;
  border-color: #38CC70;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 4px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

label{
    margin-left: 0px; 
}